
  <h1>
   <%= title %>
  </h1>
  <p>
    <%= message %>
  </p>
  <hr>
  <% if (team) {%>
    <h3>Teamleden komen hier</h3>
    <ul>
      <% team.forEach(dino => { %>
        <li>
          <%- dino  %>
        </li>
      <% }); %>
    </ul>
  <% } %>